@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Inter';
      /* font-style: normal; */
      /* font-weight: 400;
      font-display: swap; */
      src: url(/src//assets/inter.ttf) format('ttf');
    }
  }

@layer components {
    .menu-nav-selected {
        @apply w-full bg-[#77099D] text-white px-4 py-[14px] rounded-xl inline-flex;
    }
    .menu-nav-text-selected {
        @apply text-white font-bold font-[inter];
    }

    .menu-nav {
        @apply w-full bg-white text-[#2B2B2B] px-4 py-[14px] rounded-xl inline-flex;
    }
    .menu-nav-text {
        @apply text-[#2B2B2B] font-bold font-[inter];
    }

    .menu-nav:hover {
        @apply w-full bg-[#f2e7f6] text-[#2B2B2B] px-4 py-[14px] rounded-xl inline-flex;
    }
    .menu-nav-text:hover {
        @apply text-[#2B2B2B] font-bold font-[inter];
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: content-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #f2e7f6;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #77099D;
}

.clip-corner-box {
    clip-path: polygon(12px 0%, calc(100% - 12px) 0%, 100% 12px, 100% 100%, calc(100% - 12px) 100%, 12px 100%, 0 100%, 0 0)
}